/* .header {
  font-size: 3em;
} */

.homepagebody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title"
    "hilite hilite feed feed"
    "trending trending trending trending";
  gap: 10px;
}
.header {
  grid-area: title;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.header2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  margin-left: 1em;
}

.main-article {
  grid-area: hilite;
}

.trending {
  grid-area: trending;
  border-top: 1px solid gainsboro;
  padding: 1em;
}

.article-feed {
  grid-area: feed;
  border-left: 1px solid gainsboro;
  margin: 3px;
}

.article {
  padding: 10px;
  margin-top: 10px;
  height: 100px;
  overflow: hidden;
  margin-right: 1em;
  margin-left: 1em;
  /* border: 1px solid black; */
  /* border-radius: 7px; */
  /* box-shadow: 1px 1px 1px gainsboro; */
}

.article:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 3px 3px 8px 0px blue;
  /* rgba(119, 104, 104, 0.8553); */
}

.main-article .article {
  height: 87%;
}

.title {
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited {
  color: black;
  text-decoration: none;
  margin: 1px;
}
