/* .body {
  background-color: red;
} */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li,
ul {
  list-style: none;
}

.logout-links {
  display: flex;
}
.logout-links > * {
  margin-left: 5px;
}