/* .body {
  background-color: red;
} */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  /* position: fixed; */
  /* top: 0;
  z-index: 3;
  background-color: white;
  width: 100vw - 1px; */
  /* background-color: #ffc017; */
}
ul {
  /* width: 45em; */
  padding-inline-start: 0px;
}

ul,
ul > li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-family: Arial;
  border-radius: 3px;
}
/* ul > li {
  border: 1px solid black;
} */

ul > li a,
ul > li a:visited {
  color: black;
  text-decoration: none;
  margin: 1px;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 3px 3px 8px 0px blue;
  /* rgba(119, 104, 104, 0.8553); */
}
.fas {
  font-size: 18px;
  padding-left: 8px;
}

.nav {
  margin: 20px;
}

.blurb {
  color: rgb(91, 89, 89);
  font-style: italic;
}
.date {
  color: gray;
  font-size: small;
}
.logout-links {
  display: flex;
}
.logout-links > * {
  margin-left: 5px;
}

.searchbar {
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(144, 144, 148, 0.5);
  width: 250px;
  border-radius: 6px;
  font-family: Arial;
  padding-left: 8px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  list-style: none;
}
.fa-user-circle {
  padding-left: 0px;
}

.smolMode {
  border-right: 1px solid gainsboro;
  padding-left: 6px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {
  .smolMode {
    display: none;
  }
  .fas {
    font-size: 26px;
    padding: 0px 14px 0px;
  }
}
