.dropdown-container {
  position: absolute;
  right: 0;
  padding: 10px;
  border: 1px solid gainsboro;
  box-shadow: 10px 5px 5px gainsboro;
  margin-top: 8px;
  margin-right: 5px;
  background: white;
  border-radius: 7px;
  display: block;
}
.profile-dropdown {
  padding: 10px;
  margin: 1px;
  justify-content: right;
  align-items: center;
  width: 12em;
  display: block;
}

ul > li:hover {
  background-color: none;
  box-shadow: none;
}
